{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="">
    <h2>Alterar senha</h2>
    <form method="post">
        {% csrf_token %}
        <div class="">
            <input type="password" name="old_password" class="" id="old_password_id">
            <label for="old_password_id" class="">{{ form.old_password.label_tag }}</label>
        </div>
        <div class="">
            <input type="password" name="new_password1" class="" id="new_password1_id">
            <label for="new_password1_id" class="">{{ form.new_password1.label_tag }}</label>
            <small id="" class="">{{ form.new_password1.help_text }}</small>
        </div>
        <div class="">
            <input type="password" name="new_password2" class="" id="new_password2_id">
            <label for="new_password2_id" class="">{{ form.new_password2.label_tag }}</label>
        </div>
        <button type="submit" class="">Alterar senha</button>
    </form>
</main>
{% endblock %}