{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 d-flex justify-content-center bg-ligth">
    <div class="col-sm-5 p-3 border rounded shadow-sm">
        <h1>Alterar senha</h1>
        <p>Você precisa sabar sua senha atual para renova-la.<br>Caso não tenha <a class="nav-item text-primary"
                                                                                   href="{% url 'password_reset' %}">recupere
            sua senha</a>.</p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input autofocus required type="password" name="old_password" class="form-control p-3" placeholder="Senha antinga"
                       aria-label="Senha antinga" id="old_password_id">
            </div>
            <div class="mb-3">
                <input required type="password" name="new_password1" class="form-control p-3" placeholder="Senha nova"
                       aria-label="Senha nova" id="new_password1_id">

                <small id="" class="">{{ form.new_password1.help_text }}</small>
            </div>
            <div class="mb-3">
                <input required type="password" name="new_password2" class="form-control p-3"
                       placeholder="Confirmar senha nova" aria-label="Confirmar senha nova" id="new_password2_id">

            </div>
            {% if form.errors %}
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <div class="alert alert-danger text-center" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}
            <div class="d-grid">
                <button type="submit" class="btn btn-primary p-3">Alterar senha</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}