{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1>Agora, falta pouco.</h1>
    <p class="">
        Enviamos por e-mail instruções para definir sua senha, se existir uma conta com o e-mail que você inseriu. Você
        deve recebê-los em breve. Se você não receber um e-mail, certifique-se de ter inserido o endereço com o qual se
        registrou, e verifique sua pasta de spam.
    </p>
    <a class="btn btn-primary" href="{% url 'login' %}">Fazer login</a>
</div>
{% endblock %}

{% block image %}
a
{% endblock %}