{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 d-flex justify-content-center bg-ligth">
    <div class="col-sm-5 p-5 border rounded shadow-sm">
        <h1 class="text-center">Fique tranquilo</h1>
        <div class="text-center mb-3">Nós iremos enviar um e-mail para te ajudar.</div>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input autofocus required name="email" type="email" placeholder="e-mail" class="form-control p-3" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            {% if form.errors %}
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <div class="alert alert-danger text-center" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}
            <div class="d-grid">
                <button type="submit" class="btn btn-primary p-3">RECUPER SENHA</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}