{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mt-5 d-flex justify-content-center bg-ligth">
    <div class="col-sm-3 p-5 border rounded shadow-sm">
        <h1 class="text-center">Fique tranquilo</h1>
        <div class="text-center mb-3">Nós iremos enviar um e-mail para te ajudar.</div>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">e-mail</label>
                <input required name="email" type="email" class="form-control" id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            {% if form.errors %}
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <div class="alert alert-danger text-center" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}
            <button type="submit" class="btn btn-primary">RECUPER SENHA</button>
        </form>
    </div>
</div>
{% endblock %}