{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if validlink %}
<form method="post">
    <h3>Mudar senha</h3>
    <p>Informe uma nova senha para que a gente possa continuar</p>
    {% csrf_token %}
    <input required class="" type="password" name="new_password1" id="1" placeholder="Nova senha">
    <small>{{ form.new_password1.help_text }}</small>
    <input required class="" type="password" name="new_password2" id="2" placeholder="Confirmar senha">
    {% if form.errors %}
    <div class="" role="alert">
        Suas senhas não conferem.
    </div>
    {% endif %}
    <div class="">
        <button class="" type="submit">Mudar senha</button>
    </div>
</form>
{% else %}
<p>
    Link inválido. Solicite uma nova redefinição de senha.
</p>
{% endif %}
{% endblock %}