{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if validlink %}
<div class="container mt-5 d-flex justify-content-center bg-ligth">
    <div class="col-sm-3 p-5 border rounded shadow-sm">
        <form method="post">
            <h3>Mudar senha</h3>
            <p>Informe uma nova senha para que a gente possa continuar</p>
            {% csrf_token %}
            <input required class="" type="password" name="new_password1" id="1" placeholder="Nova senha">
            <small>{{ form.new_password1.help_text }}</small>
            <input required class="" type="password" name="new_password2" id="2" placeholder="Confirmar senha">
            {% if form.errors %}
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <div class="alert alert-danger text-center" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}
            <div class="">
                <button class="btn btn-primary" type="submit">Mudar senha</button>
            </div>
        </form>
        {% else %}
        <p>
            Link inválido. Solicite uma nova redefinição de senha.
        </p>
    </div>
</div>
{% endif %}
{% endblock %}